version: '3.8'

services:
  api:
    build: .
    container_name: aquaforecast_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./firebase-credentials.json:/app/firebase-credentials.json:ro
    command: >
      sh -c "
        alembic upgrade head &&
        uvicorn app.main:app --host 0.0.0.0 --port 8000
      "
